@{
    ViewBag.Title = "Home Page";
}

<div style="margin-bottom: 1000px;">

</div>

<style>
    body {
        background-image: url('../../Content/darth_stripe.png');
        background-repeat: repeat-y repeat-x;
    }
</style>